@import "tailwindcss";

h1 {
  font-size: 2.5em;
  line-height: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #a78d8d;
  }
}
